*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
}

#page{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: red;
}
canvas{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: blue;
}